@model TreeStructureManagement.Models.Node

<div class="viewcontainer">
    <div class="editcontent">
        <h2>Update</h2>
        <h4>@Model.Name</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Save changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="editcontent">
        <h2>Delete</h2>
        <h4>@Model.Name</h4>
        @if (ViewBag.hasChildren)
        {
            <h4>This node has children</h4>
            <h4>Do you want to remove node with children?</h4>
        }
        else
        {
            <h4>Are you sure you want to delete this leaf?</h4>
        }
        <div class="d-flex">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
            @if (ViewBag.hasChildren)
            {
                <a class="btn btn-primary ml-1" asp-action="DeleteAndMove" asp-route-id="@Model.Id">Remove the node and move children</a>
            }
        </div>
    </div>
</div>
<div class="row p-3 justify-content-center">
    <a class="btn btn-dark" asp-action="Index">Back to management panel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link rel="stylesheet" href="~/css/edit.css" />
}
